.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $secondaryBgColor;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__address {
    margin-top: 20px;
    font-style: normal;

    color: $footerAddressColor;
}


.footer__contacts {
    width: 231px;
    margin-right: 70px;
}

.footer__contact-list {
    margin-top: 9px;
}

.footer__contact-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__contact {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $footerContactColor;
}