:root {
--primary-logo-color: #2196F3;
--header-secondary-logo-color: #000000;
--footer-secondary-logo-color: #FFFFFF;
--footer-address-text-color: #FFFFFF;
--footer-contact-text-color: rgba(255, 255, 255, 0.6);
--button-active-color: #2196F3;
--button-text-active-color: #ffffff;
--link-active-color: #2196F3;
--primary-text-color: #757575;
--primary-title-text-color: #ffffff;
--secondary-title-text-color: #212121;
--primary-background-color: #FFFFFF;
--secondary-background-color: #2F303A;
--sections-background-color: #F5F4FA;
--header-bottom-border: #ECECEC;
--work-list-border: #EEEEEE;
--primary-icon-color: #AFB1B8;
--footer-icon-join-bgc: rgba(255, 255, 255, 0.1);
--footrer-email-input-border: rgba(255, 255, 255, 0.3);
--specific-item-tittle-bgc: rgba(47, 48, 58, 0.8);
--overlay-bgc: rgba(33, 150, 243, 0.9);
--modal-backdrop-bgc: rgba(0, 0, 0, 0.2);
--timihg-function: cubic-bezier(0.4, 0, 0.2, 1);
--modal-input-border: rgba(33, 33, 33, 0.2);
--modal-comment-text: rgba(117, 117, 117, 0.5);
--button-send-hover-color: #188CE8;
--box-shadow-color: rgba(0, 0, 0, 0.15);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
